@use "../global/bootstrap.scss";

.footer__location {
  background-color: bootstrap.$base-grey;
}

.footer-location__image {
  display: none;
}

.footer-location__map {
  margin: 0 auto;
  height: 420px;
}

.footer-location__wrapper--nojs .footer-location__map {
  display: none;
}

.footer-location__wrapper--nojs .footer-location__image {
  display: block;
  width: 100%;
}
