@use "../global/bootstrap.scss";

.footer-social__list {
  @include bootstrap.list-reset;
  display: flex;
  flex-wrap: wrap;
}

.footer-social__item__item:not(:last-child) {
  margin-right: 20px;
}

.footer-social__link {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  min-width: 40px;
  min-height: 40px;

  &:hover,
  &:focus {
    background-color: bootstrap.$base-secondary;

    & .footer-social__icon {
      fill: bootstrap.$base-primary;
    }
  }

  &:active {
    background-color: rgba(bootstrap.$base-primary, 0.25);

    & .footer-social__icon {
      fill: bootstrap.$base-primary;
    }
  }
}

.footer-social__icon {
  fill: bootstrap.$base-grey;
}
