@use "../global/bootstrap.scss";

.form {
  @media (min-width: bootstrap.$tablet-width) {
    display: grid;
    grid-template-columns: 223px auto 223px;
    justify-content: space-between;
  }
}

.form__filter-price,
.form__filter-milk,
.form__filter-country {
  border: none;
  padding: 0;
  margin: 0;
}

.form__title-price,
.form__title-milk,
.form__title-country {
  padding: 0;
  padding-bottom: 20px;
  font-family: bootstrap.$base-family;
  font-weight: bootstrap.$semi-bold;
  font-size: 16px;
  line-height: 1.23;
  color: bootstrap.$base-black;
}
