@use "../global/bootstrap.scss";

.header{
  @media (min-width: bootstrap.$tablet-width){
    margin: 0 auto;
    display: grid;
    grid-template-columns: 82px 1fr;
    column-gap: 67px;
    width: 728px;
  }
}

.header__wrapper-logo {
  margin: 0 auto;
  width: 280px;
  display: flex;
  flex-direction: column;

  @media (min-width: bootstrap.$tablet-width) {
    width: 82px;
  }

  // @media (min-width: bootstrap.$desktop-width) {
  //   width: 1360px;
  // }
}

.header__logo {
  @include bootstrap.offset-sides-y(12px, 12px);
  width: 32px;
  height: 36px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: bootstrap.$tablet-width) {
    @include bootstrap.offset-sides-y(22px, 22px);
    width: 82px;
  }

  @media (min-width: bootstrap.$desktop-width) {
    width: 170px;
  }
}

.header__logo-text {
  display: none;

  @media (min-width: bootstrap.$desktop-width) {
    display: block;
  }
}
