@use "../global/bootstrap.scss";

.header__wrapper {
  margin: 0 auto;
  width: 280px;
  display: flex;
  flex-direction: column;


  @media (min-width: bootstrap.$tablet-width) {
    width: 728px;
  }

  @media (min-width: bootstrap.$desktop-width) {
    width: 1360px;
  }
}

.header__logo {
  @include bootstrap.offset-sides-y(12px, 12px);
  width: 32px;
  height: 36px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: bootstrap.$tablet-width) {
    @include bootstrap.offset-sides-y(22px, 22px);
    width: 82px;
  }

  @media (min-width: bootstrap.$desktop-width) {
    width: 170px;
  }
}

.header__logo-text{
  display: none;

  @media (min-width: bootstrap.$desktop-width) {
    display: block;
  }
}
