@use "../global/bootstrap.scss";

.pagination__list {
  @include bootstrap.list-reset;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.pagination__item:not(:last-child) {
  margin-right: 20px;
}

.pagination__link{
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  min-width: 40px;
  min-height: 40px;

  font-family: bootstrap.$base-family;
  font-weight: bootstrap.$regular;
  font-size: 16px;
  line-height: 1.23;
  color: bootstrap.$base-primary;
  background-color: bootstrap.$base-white;
  border-radius: 4px;
  text-decoration: none;

  &--current{
    font-weight: bootstrap.$semi-bold;
    color: bootstrap.$base-black;
  }
}

.pagination__icon-next{
  transform: rotate(180deg);
}
