@use "../global/bootstrap.scss";

.range-price__scale {
  position: relative;
  height: 2px;
  background-color: bootstrap.$light-grey;
  margin-top: 10px;
}

.range-price__bar {
  position: absolute;
  width: 241px;
  height: 4px;
  background-color: bootstrap.$primary-lighter;

  @media (min-width: bootstrap.$tablet-width) {
    width: 192px;
  }
}

.range-price__toggle {
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: bootstrap.$base-white;
  border: 2px solid bootstrap.$primary-lighter;
  cursor: pointer;

  &::before {
    position: absolute;
    content: "";
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: bootstrap.$base-white;
  }

  &:hover::before,
  &:focus::before {
    background-color: rgba(bootstrap.$base-primary, 0.25);
  }

  &:active::before {
    background-color: bootstrap.$base-primary;
  }

  &:disabled {
    border: 2px solid bootstrap.$base-grey;
  }

  &:disabled + .range-price__bar {
    background-color: bootstrap.$base-grey;
  }
}

.range-price__toggle--min {
  top: -12px;
}

.range-price__toggle--max {
  top: -12px;
  right: -1px;
}

.range-price__wrapper-inputs {
  @include bootstrap.offset-sides-y(34px, 30px);
  position: relative;
  display: flex;
  justify-content: space-between;

  @media (min-width: bootstrap.$tablet-width) {
    @include bootstrap.offset-sides-y(30px, 30px);
  }
}

.range-price__input {
  @include bootstrap.offset-sides-y(8px, 8px);
  @include bootstrap.offset-sides-x(10px, 10px);
  box-sizing: border-box;
  width: 118px;
  text-align: center;
  font-family: bootstrap.$base-family;
  font-weight: bootstrap.$medium;
  font-size: 16px;
  line-height: 1.23;
  color: bootstrap.$base-black;
  background-color: bootstrap.$base-white;
  border: none;
  outline: 2px solid bootstrap.$primary-lighter;
  border-radius: 4px;

  &::placeholder {
    color: bootstrap.$base-grey;
  }

  &:focus {
    outline: 2px solid bootstrap.$primary-darker;
  }

  &:disabled {
    outline: 2px solid bootstrap.$light-grey;
  }

  @media (min-width: bootstrap.$tablet-width) {
    width: 87px;
  }
}

.range-price__label-min {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 8px;
    height: 2px;
    background-color: bootstrap.$base-grey;
    right: -25px;
    bottom: 18px;
  }

  @media (min-width: bootstrap.$tablet-width) {
    &::after {
      right: -28px;
    }
  }
}
