@use "../global/bootstrap.scss";

.swiper {
  background-color: bootstrap.$flat-white;
}

.swiper-pagination {
  display: none;
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  color: bootstrap.$base-primary;
  font-size: 20px;
}
