@use "../global/bootstrap.scss";

.user-list__link {
  @include bootstrap.link(bootstrap.$base-black, bootstrap.$base-white);
  position: relative;
  width: 60px;
  height: 60px;
  box-sizing: border-box;
  display: block;
  font-family: bootstrap.$base-family;
  font-weight: bootstrap.$medium;
  font-size: 12px;
  line-height: 1.6;
  color: bootstrap.$base-black;
  text-transform: uppercase;

  &:active {
    background-color: bootstrap.$base-secondary;
  }
}

.user-list__icon {
  padding: 22px;
}

.user-list__text {
  display: none;

  @media (min-width: bootstrap.$desktop-width) {
    display: block;
  }
}
